:root {
    /* font */
    --globalFontFamily: 'Open Sans', sans-serif;
    /* /font */
    /* text */
    --font-size: 16px;
    --line-height: 1.362;
    --font-weight-400: 400;

    --font-size-12: 12px; /* 1 */
    --font-size-13: 13px; /* 1 */
    --font-size-14: 14px; /* 1 */
    --font-size-16: 16px; /* 1 */
    --font-size-18: 18px; /* 5 */
    --font-size-20: 20px; /* 3 */
    --font-size-22: 22px; /* 1 */
    --font-size-23: 23px; /* 2 */
    --font-size-26: 26px; /* 2 */
    --font-size-28: 28px; /* 1 */
    --font-size-36: 36px; /* 1 */
    --font-size-40: 40px; /* 3 */
    --font-size-47: 47px; /* 1 */
    --font-size-48: 48px; /* 1 */
    --line-height-1: 1;
    --line-height-1-16: 1.16;
    --line-height-1-38: 1.387;
    --line-height-1-39: 1.397;
    --line-height-1-5: 1.5;
    --line-height-1-53: 1.53214286;
    --line-height-1-71: 1.71;
    --line-height-1-85: 1.85;
    --line-height-2-22: 2.22;
    
    --font-weight-300: 300;
    --font-weight-600: 600;
    --font-weight-700: 700;
    /* /text */
    /* color */
    --black-700: rgba(0, 0, 0, 1);
    --gray--700: rgba(185, 185, 185, 1);
    --green-700: rgba(1, 123, 101, 1); /* контрастный цвет 2 */
    --green-700-04: rgba(1, 123, 101, 0.4);
    --green-700-019: rgba(1, 123, 101, 0.19);
    --green-600: rgba(0, 153, 125, 1);
    --green-600-079: rgba(0, 153, 125, .79);
    --green-500-01: rgba(2, 123, 102, .1);
    --green-400: rgba(41, 162, 140, 1);
    --green-400-011: rgba(41, 162, 140, .11);
    --green-400-09: rgba(41, 162, 140, .9);
    --white-700: rgba(255, 255, 255, 1);
    --red-700: #E11616;

    /* /color */
    --width-container-normal: 1450px;
    --index-header: 999999;
    --index-z: 9999999;
    --index-z-navigation-slider: 999;
}

body {
    padding: 0;
    margin: 0;
    font-family: var(--globalFontFamily);
    font-size: var(--font-size-16);
    line-height: var(--line-height);
    overflow-x: hidden;
}

body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: var(--width-container-normal);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 2.9375rem;
    text-transform: uppercase;
    margin: 0;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2.25rem;
}

h4 {
    font-size: 1.4375rem;
}

h5 {
    font-size: 1.25rem;
}

a {
    text-decoration: none;
    color: inherit;
}

/* btn */
.btn {
    font-family: var(--globalFontFamily);
    cursor: pointer;
    border: none;
    display: block;
    font-size: var(--font-size);
    border-radius: 43px;
    transition: all .4s;
}

.btn-green {
    color: var(--white-700);
    background-color: var(--green-600-079);
    padding: 12px 39px;
}

.btn-black {
    color: var(--white-700);
    background-color: var(--black-700);
    padding: 16px 38.5px;
}

.btn-white {
    color: var(--black-700);
    background-color: var(--white-700);
    padding: 16px 70px;
}

/* /btn */

/* global */
.clear-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.bg-img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* .nowrap {
    white-space: nowrap;
} */
/* /global */

/* header */
.header {
    position: fixed;
    z-index: var(--index-header);
    width: 100%;
    max-width: 100vw;
    top: 0;
    left: 0;
    font-size: var(--font-size-18);
    background-color: var(--green-400-011);
    color: var(--white-700);
}

.header.is-active {
    background-color: var(--green-400-09);
}

.header__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.header__logo-link {
    position: relative;
    display: flex;
    align-items: center;
}

.header__logo-block {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo-block::before {
    content: "";
    position: absolute;
    background-color: var(--white-700);
    border-radius: 50%;
    padding: 15px;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
}

.header__title {
    display: flex;
    align-items: center;
    font-weight: var(--font-weight-700);
    margin: 28px 0 28px 11px;
}

.header__menu__list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header__menu__item:not(:last-child){
    margin-right: 30px;
}

.menu-item-has-children {
    position: relative;
}

.header__menu__item__link {
    display: flex;
    font-weight: var(--font-weight-400);
    transition: all .4s;
    align-items: center;
    gap: 9px;
}

.header__menu__item__link > svg{
    transition: all .4s;
}

.header__menu__item__link.is-active > svg{
    transform: rotate(180deg);
}
.header__menu__item__link:hover,
.header__menu__item__link:focus {
    opacity: .8;
}

.sub-menu {
    position: absolute;
}

/* pop-up */
.service__pop-up {
    display: flex;
    background-color: var(--white-700);
    opacity: 0;
    visibility: hidden;
    top: calc(100% + 38px);
    left: 50%;
    transform: translateX(-30%) translateY(-30px);
    z-index: 3;
    transition: all .4s;
    padding: 45px 28px 40px 48px;
    align-items: flex-start;
}

.service__pop-up.is-active {
    opacity: 1;
    visibility: visible;
    transform: translateX(-30%) translateY(0);
}

.service__pop-up::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: -2%;
    left: 27.5%;
    background-color: var(--white-700);
    transform: rotate(45deg);
}

.service__pop-up__left {
    margin-right: 24px;
}
.service__pop-up__img {
    max-width: 263px;
}

.service__pop-up__title,
.service__pop-up__text-green,
.service__pop-up__text-black {
    font-weight: var(--font-weight-400);
    white-space: nowrap;
}

.service__pop-up__title {
    position: relative;
    margin-top: 57px;
    margin-bottom: 30px;
    color: var(--black-700);
    font-size: var(--font-size-36);
    padding: 0 13px;
    border-bottom: 1px solid var(--green-700);
    display: inline-block;
    margin: 0 0 28px;
}

.service__pop-up__text-black {
    font-size: var(--font-size-26);
    transition: all .4s;
    padding-left: 13px;
}

.service__pop-up__text-black:hover,
.service__pop-up__text-black:focus {
    color: var(--green-700);
}

.service__pop-up__text-black {
    color: var(--black-700);
}

.service__pop-up__text-black:last-child {
    margin-top: 19px;
    margin-bottom: 83px;
}

/* /pop-up */

/* burger */
.btn-burger {
    display: none;
    position: relative;
    width: 26px;
    height: 19.5px;
    background-color: transparent;
    padding: 0;
    border: none;
    outline: none;
}

.btn-burger::after,
.btn-burger::before {
    content: '';
}

.btn-burger::after,
.btn-burger::before,
.btn-burger-span {
    background-color: var(--white-700);
    width: 100%;
    height: 2px;
    position: absolute;
    right: 0;
}

.btn-burger-span {
    top: 50%;
    transform: translateY( -50%);
}

.btn-burger::before {
    top: 0;
}

.btn-burger::after {
    bottom: 0;
}

.header__nav__menu {
    position: absolute;
    top: -8px;
    right: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: var(--white-700);
    background-color: var(--green-400-011);
    min-height: 100vh;
}

.header__nav__menu__item:nth-child(3) {
    margin-top: 30px;
}

.header__nav__menu__item {
    box-sizing: border-box;
    padding: 13px;
    width: 100%;
    text-align: left;
}

.header__nav__menu__btn {
    display: none;
    font-size: var(--font-size-12);
    padding: 6px 14px;
}

.side-arrow {
    position: fixed;
    width: 32px;
    height: 56px;
    right: 15px;
    bottom: 31px;
    z-index: 3;
}
/* /burger */
/* /header */

/* footer */
.footer__block {
    padding-top: 66px;
    padding-bottom: 91px;
}

.footer__link {
    text-transform: uppercase;
    font-size: var(--font-size-18);
    transition: all .4s;
}

.footer__link__soc {
    font-size: var(--font-size-13);
}

.footer__link:hover {
    opacity: .4;
}

.footer__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--font-weight-300);
}

.footer__list__block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.footer__list__block-logo {
    flex-direction: column;
}

.footer__logo-block {
    position: relative;
    display: flex;
    align-items: center;
}

.footer__logo {
    width: 80.5px;
}

.footer__title {
    display: flex;
    margin-left: 4.48px;
    font-weight: var(--font-weight-700);
    font-size: var(--font-size-20);
}

.footer__logo-block__svg {
    display: none;

}

.footer__geo {
    margin-left: 85px;
}

.footer__list__block__list__item {
    display: flex;
    flex-direction: row;
}

.footer__tel {
    display: flex;
    flex-direction: column;
}

.footer__mail,
.footer__geo,
.footer__tel,
.footer__soc-item  {
    line-height: var(--line-height-1-71);
}

.footer__img {
    height: 100%;
    align-self: center;
    margin-right: 12px;
}

.footer__list__block__list__item {
    margin-bottom: 3px;
}

.footer__soc-item {
    margin-top: 13px;
}

.footer__svg:first-child {
    margin-right: 14.33px;
}

.footer__svg:not(:first-child) {
    margin-right: 10.64px;
    margin-left: 23.62px;
}

.footer__list__block__right {
    line-height: var(--line-height-1-85);
}


@media screen and (max-width: 1000px) {
    .footer__block {
        margin-left: 45px;
    }
}

@media screen and (max-width: 900px) {
    .footer__block {
        padding-top: 50px;
        padding-bottom: 50px;
        margin-left: 15px;
    }

    .footer__list {
        flex-direction: column;
        align-items: flex-start;
        font-weight: var(--font-weight-300);
        max-height: 300px;
        column-gap: 204px;
    }
    
    .footer__logo {
        width: 62px;
        height: 63px;
    }

    .footer__title {
        margin-left: 10px;
    }

    .footer__geo {
        margin-left: 70px;
    }

    .footer__list__block__list {
        margin-left: 71px;
    }

    .footer__svg:first-child {
        margin-right: 12px;
    }
    
    .footer__svg:not(:first-child) {
        margin-right: 9px;
        margin-left: 22px;
    }

    .footer__list__block__right {
        line-height: var(--line-height-2-22);
    }
    
    .footer__list__block__right:first-child {
        margin-top: 12px;
    }
}

@media screen and (max-width: 650px) {
    .footer__list {
        column-gap: 164px;
    }
}

@media screen and (max-width:600px) {
    .footer__list {
        column-gap: 104px;
    }

    .footer__logo {
        width: 48px;
        height: 49px;
    }
}

@media screen and (max-width:560px) {
    .footer__list {
        column-gap: 74px;
    }

    .footer__logo {
        width: 38px;
        height: 38px;
    }

    .footer__link {
        font-size: var(--font-size-14);
    }

    .footer__link__soc {
        font-size: var(--font-size-13);
    }

    .footer__list__block__right {
        display: none;
    }

}

@media screen and (max-width: 375px) {
    .footer__block {
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .footer__link {
        font-size: var(--font-size-13);
    }

    .footer__title {
        font-size: var(--font-size-16);
    }

    .footer__logo-block__svg {
        width: 15.17px;
        height: 21.67px;
        display: inline-block;
        margin-right: 15.83px;
        margin-left: 3px;
    }

    .footer__geo {
        display: flex;
        align-items: center;
        margin-bottom: 7px;
    }

    .footer__tel {
        line-height: var(--line-height-1-38);
    }

    .footer__img {
        width: 22px;
        margin-right: 13px;
    }

    .footer__svg {
        width: 21px;
    }
    
    .footer__list__block__list__item {
        margin-bottom: 4px;
    }
}
/* /footer */


/* global */

