/* header */
.header {
    position: fixed;
    z-index: var(--index-header);
    width: 100%;
    max-width: 100vw;
    top: 0;
    left: 0;
    font-size: var(--font-size-18);
    background-color: var(--green-400-011);
    color: var(--white-700);
}

.header__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo-link {
    position: relative;
    display: flex;
    align-items: center;
}

.header__logo-block {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo-block::before {
    content: "";
    position: absolute;
    background-color: var(--white-700);
    border-radius: 50%;
    padding: 15px;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
}

.header__title {
    display: flex;
    align-items: center;
    font-weight: var(--font-weight-700);
    margin: 28px 0 28px 11px;
}

.header__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__menu__item {
    display: flex;
    font-weight: var(--font-weight-400);
    transition: all .4s;
    align-items: center;
    gap: 9px;
}

.header__menu__item:hover,
.header__menu__item:focus {
    opacity: .8;
}

.header__menu__item:not(:last-child) {
    margin-right: 67px;
}
/* pop-up */
.service__pop-up {
    display: none;
    position: absolute;
    background-color: var(--white-700);
    opacity: 1;
    top: 110%;
    left: 24%;
    z-index: 3;
}

.service__pop-up.is-active {
    display: flex;
}

.service__pop-up::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: -2%;
    left: 27.5%;
    background-color: var(--white-700);
    transform: rotate(45deg);
}

.service__pop-up__left {
    display: flex;
    margin-left: 63px;
    flex-direction: column;
    flex-wrap: nowrap;
}

.service__pop-up__right {
    display: flex;
    align-items: center;
    margin: 45px 27px 102px 40px;
}

.service__pop-up__title {
    position: relative;
    margin-top: 57px;
    margin-bottom: 30px;
    color: var(--black-700);
    font-size: var(--font-size-36);
}

.service__pop-up__title::after {
    position: absolute;
    content: "";
    top: 51px;
    left: -15px;
    height: 1px;
    width: 309px;
    background-color: var(--green-700);
}

.service__pop-up__title,
.service__pop-up__text-green,
.service__pop-up__text-black {
    font-weight: var(--font-weight-400);
}

.service__pop-up__text-black {
    font-size: var(--font-size-26);
    transition: all .4s;
}

.service__pop-up__text-black:hover,
.service__pop-up__text-black:focus {
    color: var(--green-700);
}

.service__pop-up__text-black {
    color: var(--black-700);
}

.service__pop-up__text-black:last-child {
    margin-top: 19px;
    margin-bottom: 83px;
}

/* /pop-up */

/* burger */
.btn-burger {
    display: none;
    position: relative;
    width: 26px;
    height: 19.5px;
    background-color: transparent;
    padding: 0;
    border: none;
    outline: none;
}

.btn-burger::after,
.btn-burger::before {
    content: '';
}

.btn-burger::after,
.btn-burger::before,
.btn-burger-span {
    background-color: var(--white-700);
    width: 100%;
    height: 2px;
    position: absolute;
    right: 0;
}

.btn-burger-span {
    top: 50%;
    transform: translateY( -50%);
}

.btn-burger::before {
    top: 0;
}

.btn-burger::after {
    bottom: 0;
}

.header__nav {
    display: none;
    position: absolute;
    right: 0;
    top: 81px;
    width: 50%;
}

.header__nav.is-active {
    display: block;
}

.header__nav__menu {
    position: absolute;
    top: -8px;
    right: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: var(--white-700);
    background-color: var(--green-400-011);
    min-height: 100vh;
}

.header__nav__menu__item:nth-child(3) {
    margin-top: 30px;
}

.header__nav__menu__item {
    box-sizing: border-box;
    padding: 13px;
    width: 100%;
    text-align: left;
}

.header__nav__menu__btn {
    display: none;
    font-size: var(--font-size-12);
    padding: 6px 14px;
}

.side-arrow {
    position: fixed;
    width: 32px;
    height: 56px;
    right: 15px;
    bottom: 31px;
    z-index: 3;
}

/* /burger */
/* /header */

/* topper */
.main {
    width: 100%;
}

.topper {
    position: relative;
    width: 100%;
}

.topper__bg {
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url(../images/topper_bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.topper__bg::after {
    position: absolute;
    content: "";
    width: 100%;
    z-index: 2;
    background-color: rgba(13, 12, 33, 0.45);
    backdrop-filter: blur(2px);
}

.topper__bg,
.topper__bg::after {
    min-height: 100vh;
}

.topper_block {
    height: 100%;
}

.topper__block__title,
.topper__block__btn,
.topper__block__arrow {
    position: absolute;
    z-index: 3;
    color: var(--white-700);
    text-align: center;
    line-height: var(--line-height);
    left: 50%;
    transform: translateX(-50%);
}

.topper__block__title {
    position: absolute;
    top: 223px;
    width: 864px;
    font-size: var(--font-size-47);
    font-weight: var(--font-weight-300);
}

.topper__block__btn {
    top: 459px;
    padding: 12px 38px;
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-400);
}

.topper__block__arrow {
    top: 561px;
    width: 32px;
    height: 54px;
}

@media screen and (max-width: 1400px) {
    .header__menu__item:not(:last-child) {
        margin-right: 50px;
    }
}

@media screen and (max-width: 1300px) {
    .header__menu__item:not(:last-child) {
        margin-right: 40px;
    }
}

@media screen and (max-width: 1200px) {
    .header__menu__item:not(:last-child) {
        margin-right: 30px;
    }
}

@media screen and (max-width: 1110px) {
    .header {
        font-size: var(--font-size-16);
    }

    .header__menu__item:not(:last-child) {
        margin-right: 20px;
    }
}

@media screen and (max-width: 980px) {
    .header {
        font-size: var(--font-size-14);
    }

    .header__menu__item:not(:last-child) {
        margin-right: 15px;
    }
}

@media screen and (max-width: 830px) {
    .header {
        font-size: var(--font-size-13);
    }

    .header__menu__item:not(:last-child) {
        margin-right: 10px;
    }
}

@media screen and (max-width:768px) {
    .header__title {
        margin: 28px 0;
    }

    .header__menu {
        display: none;
    }
    .btn-burger {
        display: block;
    }

    .container {
        max-width: 737px;
    }

    .topper__bg {
        background-position: -450px center;
        background-repeat: no-repeat;
    }

    .topper__block__title {
        font-size: var(--font-size-40);
        width: 720px;
    }

    .topper__block__btn {
        top: 506px;
    }

    .topper__block__arrow {
        top: 608px;
    }
}

@media screen and (max-width: 600px) {
    .topper__block__title {
        font-size: var(--font-size-36);
        width: 720px;
    }
}

@media screen and (max-width:523px) {
       
    .header__logo-block {
        position: relative;
        margin: 14px 0;
    }
    
    .header__logo-block::before {
        padding: 8px;
    }

    .header__logo {
        max-width: 42.3%;
    }

    .header__title {
        margin: 13px 0 20px;
        font-weight: var(--font-weight-400);
        font-size: var(--font-size-16);
    }
    .btn-burger {
        width: 16px;
        height: 11px;
    }

    .btn-burger::after,
    .btn-burger::before,
    .btn-burger-span {
    height: 1px;
    }

    .btn-burger::after {
        width: 100%;
    }
    .btn-burger::before {
        width: 81.25%;
    }
    .btn-burger-span {
        width: 50%;
    }

    .header__nav__menu {
        top: -31px;
    }

    .topper__block__title {
        font-size: var(--font-size-18);
        width: 290px;
        top: 127px;
    }

    .topper__block__btn {
        display: none;
    }

    .topper__block__arrow {
        width: 15px;
        height: 25px;
        left: calc(100% - 31px);
        top: 315px;
    }
}

@media screen and (max-width: 375px) {
    .container {
        max-width: 290px;
    }
    
    .header__nav__menu__btn {
        display: inline-block;
    }

    .topper__bg {
        background-position: -131px center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 1;
        min-height: 371px;
    }

    .topper__bg,
    .topper__bg::after {
        min-height: 371px;
    }

    .topper__block__title {
        font-size: var(--font-size-18);
        width: 290px;
        top: 127px;
    }


    .topper__block__btn {
        display: none;
    }

    .topper__block__arrow {
        width: 15px;
        height: 25px;
        left: calc(100% - 31px);
        top: 315px;
    }
}
/* /topper */

/* footer */

.footer__block {
    padding-top: 66px;
    padding-bottom: 91px;
    margin-left: 75px;
}

.footer__link {
    text-transform: uppercase;
    font-size: var(--font-size-18);
    transition: all .4s;
}

.footer__link__soc {
    font-size: var(--font-size-13);
}

.footer__link:hover {
    opacity: .4;
}

.footer__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--font-weight-300);
}

.footer__list__block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.footer__list__block-logo {
    flex-direction: column;
}

.footer__logo-block {
    position: relative;
    display: flex;
    align-items: center;
}

.footer__logo {
    width: 80.5px;
}

.footer__title {
    display: flex;
    margin-left: 4.48px;
    font-weight: var(--font-weight-700);
    font-size: var(--font-size-20);
}

.footer__logo-block__svg {
    display: none;

}

.footer__geo {
    margin-left: 85px;
}

.footer__list__block__list__item {
    display: flex;
    flex-direction: row;
}

.footer__tel {
    display: flex;
    flex-direction: column;
}

.footer__mail,
.footer__geo,
.footer__tel,
.footer__soc-item  {
    line-height: var(--line-height-1-71);
}

.footer__img {
    height: 100%;
    align-self: center;
    margin-right: 12px;
}

.footer__list__block__list__item {
    margin-bottom: 3px;
}

.footer__soc-item {
    margin-top: 13px;
}

.footer__svg:first-child {
    margin-right: 14.33px;
}

.footer__svg:not(:first-child) {
    margin-right: 10.64px;
    margin-left: 23.62px;
}

.footer__list__block__right {
    line-height: var(--line-height-1-85);
}


@media screen and (max-width: 1000px) {
    .footer__block {
        margin-left: 45px;
    }
}

@media screen and (max-width: 900px) {
    .footer__block {
        padding-top: 50px;
        padding-bottom: 50px;
        margin-left: 15px;
    }

    .footer__list {
        flex-direction: column;
        align-items: flex-start;
        font-weight: var(--font-weight-300);
        max-height: 300px;
        column-gap: 204px;
    }
    
    .footer__logo {
        width: 62px;
    }

    .footer__title {
        margin-left: 10px;
    }

    .footer__geo {
        margin-left: 70px;
    }

    .footer__list__block__list {
        margin-left: 71px;
    }

    .footer__svg:first-child {
        margin-right: 12px;
    }
    
    .footer__svg:not(:first-child) {
        margin-right: 9px;
        margin-left: 22px;
    }

    .footer__list__block__right {
        line-height: var(--line-height-2-22);
    }
    
    .footer__list__block__right:first-child {
        margin-top: 12px;
    }
}

@media screen and (max-width: 650px) {
    .footer__list {
        column-gap: 164px;
    }
}

@media screen and (max-width:600px) {
    .footer__list {
        column-gap: 104px;
    }
}

@media screen and (max-width:560px) {
    .footer__list {
        column-gap: 74px;
    }

    .footer__link {
        font-size: var(--font-size-14);
    }

    .footer__link__soc {
        font-size: var(--font-size-13);
    }

    .footer__list__block__right {
        display: none;
    }

}

@media screen and (max-width: 375px) {
    .footer__block {
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .footer__link {
        font-size: var(--font-size-13);
    }

    .footer__title {
        font-size: var(--font-size-16);
    }

    .footer__logo-block__svg {
        width: 15.17px;
        height: 21.67px;
        display: inline-block;
        margin-right: 15.83px;
        margin-left: 3px;
    }

    .footer__geo {
        display: flex;
        align-items: center;
        margin-bottom: 7px;
    }

    .footer__tel {
        line-height: var(--line-height-1-38);
    }

    .footer__img {
        width: 22px;
        margin-right: 13px;
    }

    .footer__svg {
        width: 21px;
    }
    
    .footer__list__block__list__item {
        margin-bottom: 4px;
    }

}
/* /footer */