/* topper */
.main {
    width: 100%;
}

.topper {
    position: relative;
    width: 100%;
    background-image: url(../images/topper_bg.png);
}

.topper::before { 
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(13, 12, 33, .45);
    backdrop-filter: blur(2px);
}

.topper__block {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 3;
    text-align: center;
}

.topper__block__title {
    font-size: var(--font-size-47);
    font-weight: var(--font-weight-300);
    max-width: 864px;
    color: var(--white-700);
}

.topper__block__btn {
    padding: 12px 38px;
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-400);
}

.topper__block__arrow {
    position: absolute;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
    animation: arrowBottom  1s infinite ease-in-out;
    animation-direction: alternate-reverse;
    cursor: pointer;
}

@keyframes arrowBottom {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(50%);
    }
}

@media screen and (max-width: 1400px) {
    .header__menu__link:not(:last-child) {
        margin-right: 50px;
    }
}

@media screen and (max-width: 1300px) {
    .header__menu__link:not(:last-child) {
        margin-right: 40px;
    }
}

@media screen and (max-width: 1200px) {
    .header__menu__link:not(:last-child) {
        margin-right: 30px;
    }
}

@media screen and (max-width: 1110px) {
    .header {
        font-size: var(--font-size-16);
    }

    .header__menu__link:not(:last-child) {
        margin-right: 20px;
    }
}

@media screen and (max-width: 980px) {
    .header {
        font-size: var(--font-size-14);
    }

    .header__menu__link:not(:last-child) {
        margin-right: 15px;
    }
}

@media screen and (max-width: 830px) {
    .header {
        font-size: var(--font-size-13);
    }

    .header__menu__link:not(:last-child) {
        margin-right: 10px;
    }
}

@media screen and (max-width:768px) {
    .header__title {
        margin: 28px 0;
    }

    .header__menu {
        display: none;
    }
    .btn-burger {
        display: block;
    }

    .container {
        max-width: 740px;
    }

    .topper {
        background-position: -450px center;
    }
}

@media screen and (max-width: 600px) {
    .topper__block__title {
        font-size: var(--font-size-36);
        width: 720px;
    }
}

@media screen and (max-width:523px) {
       
    .header__logo-block {
        position: relative;
        margin: 14px 0;
    }
    
    .header__logo-block::before {
        padding: 8px;
    }

    .header__logo {
        max-width: 42.3%;
    }

    .header__title {
        margin: 13px 0 20px;
        font-weight: var(--font-weight-400);
        font-size: var(--font-size-16);
    }
    .btn-burger {
        width: 16px;
        height: 11px;
    }

    .btn-burger::after,
    .btn-burger::before,
    .btn-burger-span {
    height: 1px;
    }

    .btn-burger::after {
        width: 100%;
    }
    .btn-burger::before {
        width: 81.25%;
    }
    .btn-burger-span {
        width: 50%;
    }

    .header__nav__menu {
        top: -26px;
    }

    .topper__block__title {
        font-size: var(--font-size-18);
        width: 290px;
        top: 127px;
    }

    .topper__block__btn {
        display: none;
    }

    .topper__block__arrow {
        width: 15px;
        height: 25px;
    }
}

@media screen and (max-width: 376px) {
    .container {
        max-width: 290px;
    }
    
    .header__nav__menu__btn {
        display: inline-block;
    }

    .topper {
        background-position: -130px center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 1;
        min-height: 371px;
    }

    .topper__block__title {
        font-size: var(--font-size-18);
        width: 290px;
        top: 127px;
    }


    .topper__block__btn {
        display: none;
    }

    .topper__block__arrow {
        width: 15px;
        height: 25px;
    }
}
/* /topper */

/* stats */
.swiper-stats-slide {
    display: flex;
    font-style: var(--globalFontFamily);
    position: relative;
    background: var(--white-700);
    flex-direction: column;
}

.swiper-stats-pagination.non-active {
    display: none;
}

@media screen and (min-width:376px) {
    .swiper-stats-wrapper {
        padding: 100px 0;
        display: grid !important;
        grid-template-columns: repeat(4, 1fr);
    }
    
    .swiper-stats-slide {
        width: 100% !important;
    }
    
    .swiper-stats-slide:not(:last-child):after {
        position: absolute;
        content: "";
        height: 114px;
        width: 3px;
        background-color: var(--green-400);
        right: 0;
    }
    
    .swiper-stats-slide-title {
        font-weight: var(--font-weight-600);
        font-size: var(--font-size-48);
    }
    
    .swiper-stats-slide-text {
        font-weight: var(--font-weight-400);
        font-size: var(--font-size-16);
        max-width: 193px;
    }
}


@media (min-width:376px) and (max-width:769px) {
    .swiper-stats {
        display: flex;
        justify-content: center;
    }

    .swiper-stats-wrapper {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        max-width: 476px;

    }

    .swiper-stats-slide {
        justify-self: center;
    }

    .swiper-stats-slide:nth-child(2):after {
        display: none;
    }
}

@media (min-width:376px) and (max-width:560px) {

    .swiper-stats {
        display: flex;
        justify-content: center;
    }

    .swiper-stats-wrapper {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        max-width: 476px;

    }

    .swiper-stats-slide {
        justify-self: center;
    }

    .swiper-stats-slide:nth-child(2):after {
        display: none;
    }

    .swiper-stats-slide-title {
        font-size: var(--font-size-22);
    }

    .swiper-stats-slide-text {
        font-size: var(--font-size-12);
    }
}

@media screen and (max-width:375px) {
    .swiper-stats-slide{
        margin-top: 42px;
        margin-bottom: 52px;
    }

    .swiper-stats-slide::after,
    .swiper-stats-slide::before {
        position: absolute;
        content: "";
        width: 13px;
        height: 1px;
        background-color: var(--black-700);
        top: 50%;
    }

    .swiper-stats-slide::before {
        left: 50px;
    }

    .swiper-stats-slide:nth-child(1)::before,
    .swiper-stats-slide:nth-child(3)::before {
        left: 15px;
    }

    .swiper-stats-slide:nth-child(1)::after,
    .swiper-stats-slide:nth-child(3)::after {
        display: none;
    }

    .swiper-stats-slide:nth-child(2)::before, 
    .swiper-stats-slide:nth-child(4)::before {
        left: 0;
        transform: translateX(-50%);
    }
    .swiper-stats-slide:nth-child(2)::after, 
    .swiper-stats-slide:nth-child(4)::after {
        right: 15px;
    }


    .swiper-stats-slide-title {
        font-size: var(--font-size-22);
    }

    .swiper-stats-slide-text {
        position: relative;
        font-size: var(--font-size-12);
        line-height: var(--line-height-1);
    }

    .swiper-stats-slide-text:not(:nth-child(2)) {
        max-width: 93px;
    }

    .swiper-stats-slide-text:nth-child(2) {
        max-width: 102px;
    }

    .swiper-stats-slide-free {
        height: 21.792px;
        width: 2px;
    }
}


/* /slide */

/* pagination */
.swiper-stats-pagination {
    display: flex;
    justify-content: center;
    gap: 6px;
    height: 4px;
    border-bottom: 1px solid rgba(1, 123, 101, 0.19);
    width: 224px !important;
    margin: 0 auto;
}

.swiper-stats-pagination-bullet {
    width: 14px;
    height: 2px;
    background: rgba(1, 123, 101, 0.4);
    border-radius: 0;
    transition: all .4s;
    z-index: 1000;
}

.swiper-stats-pagination-bullet-is-active {
    background: rgba(1, 123, 101, 1);
    margin-top: -2px !important;
}
/* /pagination */
/* /stats */

/* guarantees */
.guarantees__block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.guarantees__block__left,
.guarantees__block__right {
    width: 100%;
}

.guarantees__block__left__img {
    width: 100%;
}

.guarantees__block__right {
    display: block;
    text-align: center;
}

.guarantees__block__right__title {
    position: relative;
    font-weight: var(--font-weight-700);
    font-size: var(--font-size-40);
    margin-top: 57px;
    margin-bottom: 56px;
}

.guarantees__block__right__title::before,
.guarantees__block__right__title::after {
    content: "";
    position: absolute;
    background-size: 60px;
    width: 60px;
    height: 60px;
} 

.guarantees__block__right__title::before {
    background-image: url('../icons/left_quote.png');
    bottom: -32px;
    left: 0;
}

.guarantees__block__right__title::after {
    background-image: url('../icons/right_quote.png');
    top: -32px;
    right: 0;
}

.guarantees__block__right__img {
    display: none;
}

.guarantees__block__right__text {
    font-size: var(--font-size-23);
    max-width: 570px;
    margin: 0 auto;
}

.guarantees__block__right__btn {
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 115px;
}

.guarantees__block__right__btn__second {
    display: none;
    border: 1px solid var(--black-700);
}

.guarantees__block__right_postscriptum {
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-300);
    max-width: 657px;
    margin: 0 auto;
    align-self: flex-end;
}

@media screen and (max-width: 1530px) {
    .guarantees__block__right__btn {
        margin-bottom: 95px;
    }
}

@media screen and (max-width: 1470px) {
    .guarantees__block__right__btn {
        margin-bottom: 75px;
    }
}

@media screen and (max-width: 1410px) {
    .guarantees__block__right__btn {
        margin-bottom: 55px;
    }
}

@media screen and (max-width: 1378px) {
    .guarantees__block {
        grid-template-columns: 1fr;
    }

    .guarantees__block__left {
        display: none;
    }

    .guarantees__block__right__title {
        margin-bottom: 82px;
    }
    
    .guarantees__block__right__btn {
        display: inline-block;
        margin-right: 31.5px;
        margin-left: 0px;
        margin-bottom: 80px;
    }

    .guarantees__block__right__btn__second {
        display: inline-block;
    }
}

@media screen and (max-width: 690px) {
    .guarantees__block__right__title::before {
        left: -32px;
    }
    
    .guarantees__block__right__title::after {
        right: -32px;
    }

    .guarantees__block__right__btn {
        margin-right: 0;
        padding: 16px 34px;
    }
    
    .guarantees__block__right__btn__second {
        padding: 16px 66px
    }
}

@media screen and (max-width: 575px) {

    .guarantees__block__right__title {
        font-size: var(--font-size-18);
        margin: 0 auto;
        margin-top: 70px;
        margin-bottom: 28px;
        max-width: 268px;
    }

    .guarantees__block__right__title::before,
    .guarantees__block__right__title::after {
        background-size: 25px;
        width: 25px;
        height: 25px;
    } 

    .guarantees__block__right__title::after {
        top: -16px;
        right: 6px;
    }

    .guarantees__block__right__title::before {
        bottom: -16px;
        left: 6px;
    }

    .guarantees__block__right__img {
        display: block;
        width: 100%;
    }

    .guarantees__block__right__text {
        font-size: var(--font-size-14);
        max-width: 278px;
        margin: 30px auto;
    }

    .guarantees__block__right__btn {
        font-size: var(--font-size-12);
        margin: 0 auto;
        padding: 9px 25px;
    }
    
    .guarantees__block__right__btn__second {
        display: none;
    }

    .guarantees__block__right__postscriptum {
        display: none;
    }
}

/* /guarantees */